* {
	box-sizing: border-box;
}

#content {
	border: 2px solid black;
	border-width: 2px;
	width: 50px;
	padding: 5px;
}

.position-relative-ex {
	position: relative;
	top: 10px;	
}

.position-absolute-ex {
	position: relative;
	
}

.position-absolute-ex > div {
	position: absolute;
}