* {
	box-sizing: border-box;
}

body {
	border: 2px solid green;
	min-height: 200px;	
}

nav {
	float: left;
	border: 2px solid green;
	width: 15%;
}

section {
	margin-left: 15%;
	border: 2px solid green;
	padding: 50px 0;
}